<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>cars-organizations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div style="width: 1200px" class="card">
        <div class="card-body">
            <form name="search-form-starts" class="col mx-auto" action="/cars/search-starts">
                <a> name starts at:
                    <a><input name="search" type="text" style="width: 300px; height: 32px; border: 1px solid burlywood">
                        <input type="submit" class="btn btn-search" value=" Search ">
                    </a>
                </a>
            </form>
            <br>
            <form name="search-containing" class="col mx-auto" action="/cars/search-containing">
                <a> name contains:
                    <a><input name="search" type="text" style="width: 300px; height: 32px; border: 1px solid burlywood">
                        <input type="submit" class="btn btn-search" value=" Search ">
                    </a>
                </a>
            </form>

            <div th:switch="${dtocar}" class="container my-5">
                <p class="my-2">
                    <a>
                    </a>
                    <a href="/">
                        <i name="come back" class="btn btn-primary">Come back</i>
                    </a>

                </p>

                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="margin-left: 500px">organization</th>
                            <th style="margin-left: 200px">car</th>
                            <th style="margin-left: 300px">state number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dtocar : ${dtocar}">
                            <td style="width: 500px" th:text="${dtocar.nameOrganizationDto}"></td>
                            <td style="width: 200px" th:text="${dtocar.fullNameCarDto}"></td>
                            <a style="width: 300px"><td style="width: 300px" th:text="${dtocar.stateNumberCarDto}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>